body{
    background: linear-gradient(0.25turn,green, yellow);
  }
.homecontainer{
    margin: 100px 0 0 100px;
    display: flex;
}
ul li{
    list-style: none;
    margin: 10px;
}
img{
    margin-left: 30%;
    margin-right: 30px;
    height: 500px;
    border-radius: 10%;
    width: fit-content;
}