h1 {
  margin-top: 50px;
  text-align: center;
  color: white;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 200px;
  width: 100%;
}
.passwordcontainer {
  width: 600px;
  background: #b402d7;
  border-radius: 30px;
  height: 90%;
  padding: 25px;
}
.passwordcontainer .input {
  margin: 30px;
}
.passwordcontainer .input input {
  width: 80%;
  height: 35px;
  border: none;
  font-size: 1rem;
  color: orange;
  padding-left: 15px;
  border-radius: 6px 0 0 6px;
}
.passwordcontainer .input button {
  height: 35px;
  width: 17%;
  border: none;
  background: blue;
  font-size: 1rem;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.passwordcontainer .input button:hover {
  background: rgb(1, 1, 173);
}
.input2 {
  text-align: center;
}
.input2 input {
  margin: 10px;
}
